body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: ;
}
table {
  border-collapse: collapse;
}
th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}
td {
  text-align: center;
  border: 1px solid black;
}
.back-video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
